---js
{
  layout: "base",
  title: "Collaborations",
  permalink: "/projects/collaboration",
  eleventyNavigation: {
    key: "Collaborations",
    order: "5"
  },
  pagination: {
    data: "collections.projects",
    reverse: true,
    alias: "projects",
    size: 100,
    before: function(paginationData, fullData) {
      return paginationData.sort((a, b) => a.data.date_updated - b.data.date_updated);
    }
  }
}
---

<h2>Collaborations</h2>

<p>See past projects in the <a href="/litlab-website/projects/archive/">project archive<a>.</p>

<div class="projects">

  <div class="grid">
    <section id="cards" class="pt-0">
           <div class="wrapper wrapper--big">
               <div class="card__container">
                       {%-for post in pagination.items-%}
					   {% if 'collaboration' == post.data.type %}
					   {% if 'archive' !== post.data.status %}
					   
				       <div class="card__item cf">
				           <div class="card__image">
				               <a href="{{post.data.permalink | url}}">
				                   <div class="image">
				                       <img src="{{ post.data.image }}" alt="">
				                   </div>
				               </a>
				           </div>
				           <div class="card__content">
				               <a href="{{post.data.permalink | url}}">
				                   <h3 class="mb-sm">{{ post.data.title }}</h3>
				               </a>
				               <div class="card__excerpt">
				                   <p>{{ post.data.shortdesc}}</p>
				               </div>
				           </div>
				       </div>
					   
					   {% endif %}
					   {% endif %}
                   {% endfor %}
               </div>
           </div>
       </section>
  </div>
</div>
